{% extends 'shared/base.html' %}
{% load staticfiles %}
{% block content %}
<meta http-equiv="refresh" content="3; url=https://www.amazon.fr/dp/{{ amazon_asin }}/?tag={{ settings.AMAZON_ASSOC_TAG }}" />

 <section class="section light-gray-bg clearfix">
				<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Chargement de votre Produit en cours..........</h1>
                            <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
    80%
  </div>

</div>
                        </div>
                        </div>

                    <div class="row">
                         <div class="col-md-12 ">
                             <div class="mb-20 col-lg-offset-2">
                                 <h2>Livraison de bagages entre particuliers</h2>
                                 <a rel="nofollow" target="_blank" href="https://www.bye-bye-bagages.com">
                                 <img class="text-center" src="{% static 'images/bye-bye-bagages-rectangle.png' %}" alt="Bye Bye Bagages"/>
                                 </a>

                             </div>

    </div>
                    </div>
                    </div>
     </section>
{% endblock %}