{% extends 'shared/base.html' %}
{% load staticfiles %}
{% block title %} {{ word_search.name }} moins cher en promo en ligne ({{ categorie.name }}) {% endblock %}
{% block description %}Acheter {{ word_search.name }} moins cher en ligne. {{ word_search.name }} dans la catégorie {{ categorie.name }}{% endblock %}
{% block robotsblock %}index,follow{% endblock %}
{% block keywordsblock %}{{ word_search.name }}, {{ categorie.name }},promo {{ word_search.name }}, {{ word_search.name }} en ligne{% endblock %}
{% block content %}

 	<!-- section start -->
			<!-- ================ -->
			<section class="section light-gray-bg clearfix">
				<div class="container">
                    <div class="row">
                        <h1>{{ word_search.name }} en ligne</h1>
                    </div>
                <div class="row">
                    <div class="col-md-12">
                          {% include 'shared/search_form.html' %}
                    </div>
                </div>
					<div class="row">
						<!-- main start -->
						<!-- ================ -->
						<div class="col-md-8">
                         {% include 'shared/ads-adaptable.html' %}
                           {% include 'shared/pagination.html' %}
                            {% include 'shared/ads-thematique.html' %}
							<!-- pills start -->
							<!-- ================ -->
                                {% for p in products %}
                                   {% include 'shared/product_detail_horizontal.html' %}
                                      {% if forloop.counter == 3%}
                                        {% include 'shared/ads-adaptable.html' %}
                                    {% endif %}
                                      {% empty %}
                                            <h3>Oups! Pas de produits correspondant à vos critères</h3>
                                {% endfor %}
                        {% include 'shared/pagination.html' %}
                            {% include 'shared/ads-thematique.html' %}

						</div>
						<!-- main end -->
						<!-- sidebar start -->
						<!-- ================ -->
						<aside class="col-md-4">
							<div class="sidebar">
                                 {% include 'shared/ads-adaptable.html' %}

									<h3 class="title">Categories</h3>
									<div class="separator-2"></div>
									<nav>
										<ul class="nav nav-pills nav-stacked list-style-icons">
                                            {% for cat in categories %}
                                                <li><a href="{{ cat.get_absolute_url }}"><i class="fa fa-caret-right pr-10"></i>{{ cat.name }}</a></li>
                                            {% endfor %}

										</ul>
									</nav>



							</div>
						</aside>
						<!-- sidebar end -->
					</div>
				</div>
			</section>
			<!-- section end -->
{% endblock %}