   <a rel="nofollow" target="_blank" href="#" class="pull-right margin-clear btn btn-sm btn-default btn-animated add-to-db"
        data-amazon-asin="{{ p.amazon_asin }}"
        data-amazon-title="{{ p.amazon_title }}"
        data-amazon-large-image-url="{{ p.amazon_large_image_url }}"
        data-amazon-medium-image-url="{{ p.amazon_medium_image_url }}"
        data-amazon-small-image-url="{{ p.amazon_small_image_url }}"
        data-amazon-index="{{ p.amazon_index }}"
        data-amazon-desc="{{ p.amazon_feature }}"
        data-amazon-brand="{{ p.amazon_brand }}"
        data-amazon-manufacturer="{{ p.amazon_manufacturer }}"
        data-amazon-label="{{ p.amazon_label }}"
        data-amazon-editorial-reviews="{{ p.editorial_reviews }}"
        data-categorie-id="{{ p.categorie.id }}"
        data-amazon-parent-asin="{{ p.parent_asin }}"
        data-amazon-ean="{{ p.amazon_ean }}"
        data-amazon-isbn="{{ p.amazon_isbn }}"
        data-amazon-sku="{{ p.amazon_sku }}"
        data-amazon-upc="{{ p.amazon_upc }}"
        data-amazon-mpn="{{ p.amazon_mpn }}"
        data-amazon-color="{{ p.amazon_color }}"
        data-amazon-features="{{ p.amazon_feature }}"
        data-amazon-price="{{ p.amazon_price }}">Add to DB<i class="fa fa-shopping-cart"></i></a>